.authoring {
  .add-icon {
    color: darkgreen;
    font-size: 1.4em;
    cursor: pointer;
  }

  .rm-icon {
    color: darkred;
    font-size: 1.4em;
    margin-left: 5px;
    cursor: pointer;
  }

  .list-editor {
    display: inline-block;
    margin-right: 40px;
    vertical-align: top;

    td {
      text-align: center;
    }

    th {
      text-align: left;
      font-weight: normal;
    }
  }

  .preview {
    margin-top: 20px;
  }
}